<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.univ.helsinki.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/activity_name_main"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/activity_name_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activities.ViewActivity"
            android:label="@string/activity_name_view"
            android:parentActivityName=".MainActivity" >
        </activity>
        
        <activity
            android:name=".activities.SettingPreferenceActivity"
            android:label="@string/activity_title_settings"
            android:parentActivityName=".MainActivity" >
        </activity>
        
        <activity
            android:name=".activities.EndPointActivity"
            android:label="@string/activity_name_endpoint"
            android:parentActivityName=".activities.SettingPreferenceActivity" >
            <intent-filter>
                <action android:name=".activities.EndPointActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activities.ManageEndPointActivity"
            android:label="@string/activity_name_endpoint"
            android:parentActivityName=".activities.EndPointActivity" >
        </activity>
        
        <activity
            android:name=".SensorEvaluator"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activities.SettingConfigureSensor"
            android:label="@string/activity_title_settings_configure_sensor"
            android:parentActivityName=".activities.SettingPreferenceActivity" >
            <intent-filter>
                <action android:name=".activities.SettingConfigureSensor" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="LocationService" >
            
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>